<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @reward.value %>
</p>

<p>
  <b>Description:</b>
  <%= @reward.description %>
</p>

<p>
  <b>On visit:</b>
  <%= @reward.on_visit %>
</p>

<p>
  <b>Every visit:</b>
  <%= @reward.every_visit %>
</p>


<%= link_to 'Edit', edit_reward_path(@reward) %> |
<%= link_to 'Back', rewards_path %>
